
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    /* Animation */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-overlay.visible {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    background: #ffffff;
    padding: 25px 30px;
    border-radius: 12px;
    max-width: 95%;
    width: 600px;
    position: relative;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    max-height: 90vh;
    /* overflow-y: auto; */
    transform: scale(0.95);
    transition: transform 0.3s ease;
}

.modal-overlay.visible .modal-content {
    transform: scale(1);
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2.2rem;
    font-weight: 300;
    color: #888;
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1;
}

.modal-content h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 600;
    color: #333;
}

/* --- Gallery Styles (Modal Images) --- */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

/* --- Form Styles (Modals Reception & Probleme) --- */
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group label, .form-group-checkbox label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #555;
}

.form-group input[type="file"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}

.form-group-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}
.form-group-checkbox input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

.btn-submit {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    background-color: var(--primary-color, rgb(169, 5, 5));
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-end; /* Aligns button to the right */
    margin-top: 10px;
}

.btn-submit:hover {
    background-color: var(--sombre-primary-color, rgb(121, 3, 3));
}

.modal-auth-required{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
}

.modal-auth-required .btn-submit{
    align-self: center;
}

