/* @media (max-width: 900px){
    /* .logo img{
        width: 100%;
        max-width: 200px;
    } 

    .minibarre{
        background-color: white;
        height: 15px;
        width: 1px;
    }
} */



